.THIS .marginClass{
    margin-left: 19rem;
}
.THIS .marginTabClass{
    margin-left: 5rem;
}
.THIS .alignRight{
    text-align: right;
}
@media (max-width: 1340px){
  .THIS .leftPaddingDesktop {
        padding-left: none !important;
        min-width: 200px !important;
    }  
}
@media (min-width: 1340px){
	.THIS .leftPaddingDesktop{
    	margin-left: 25%;
    	/*min-width: 200px !important;*/
	}
}
.THIS .alignLogo{
    margin :36px auto;
}